*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


#containerBuyOne{
    display: flex;
    min-width: 600px;
    width: 1366px;
    height: 478px;
    background-color: #FFF7F2;
    justify-content: center;
    align-items: center;
    #contentText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 480px;
        height: 274px;
        #titleBuyOne{
            display: flex;
            justify-content: flex-start;
            font-weight: 500;
            font-size: 50px;
        }
        #descriptionBuyOne{
            font-size: 18px;
            margin-top: 18px;
            font-weight: 400;
        }
        #buttonBuyOne{
            margin-top: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 61px;
            background-color: #FF7E20;
            font-weight: bold;
            font-size: 20px;
            border-radius: 12px;
            
        }
    }
    #contentImags{
        width: 500px;
        height: 80%;
        #imgPromo{
            width: 260px;
            height: 222px;
            background-image: url("/assets/24113\ [Converted]\ 1.png");
            background-size: cover;
        }
        #imgCan{
            height: 260px;
            width: 700px;
            background-image: url("/assets/Poster-S-320ml_1b\ 1.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: 50px;
            transform: translateY(-120px);
        }
    }
}


#contentComments{
    margin-left: 140px;
    width: 1086px;
    height: 471px;
    margin-top: 120px;
    background-color: red;
}