@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

#containerBuyOne {
  display: flex;
  min-width: 600px;
  width: 1366px;
  height: 478px;
  background-color: #FFF7F2;
  justify-content: center;
  align-items: center;
}
#containerBuyOne #contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  height: 274px;
}
#containerBuyOne #contentText #titleBuyOne {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 50px;
}
#containerBuyOne #contentText #descriptionBuyOne {
  font-size: 18px;
  margin-top: 18px;
  font-weight: 400;
}
#containerBuyOne #contentText #buttonBuyOne {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 61px;
  background-color: #FF7E20;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
}
#containerBuyOne #contentImags {
  width: 500px;
  height: 80%;
}
#containerBuyOne #contentImags #imgPromo {
  width: 260px;
  height: 222px;
  background-image: url("/assets/24113 [Converted] 1.png");
  background-size: cover;
}
#containerBuyOne #contentImags #imgCan {
  height: 260px;
  width: 700px;
  background-image: url("/assets/Poster-S-320ml_1b 1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  transform: translateY(-120px);
}

#contentComments {
  margin-left: 140px;
  width: 1086px;
  height: 471px;
  margin-top: 120px;
  background-color: red;
}

.contain-products {
  margin: 120px 0;
  padding: 0 140px;
}
.contain-products header h2 {
  font-size: 50px;
  font-weight: 700;
}
.contain-products header h3 {
  font-size: 40px;
  font-weight: 500;
}
.contain-products header .go {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.contain-products header .go a {
  font-size: 18px;
  font-weight: 500;
  color: #FF7E20;
}
.contain-products .card-contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 36px;
}
.contain-products .card-contain .card-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.contain-products .card-contain .card-product footer {
  width: calc(100% - 68px);
}
.contain-products .card-contain .card-product footer h2 {
  font-size: 26px;
}
.contain-products .card-contain .card-product footer h3 {
  font-size: 20px;
}
.contain-products .card-contain .card-product footer .text-card h3 {
  font-weight: 400;
}
.contain-products .card-contain .card-product footer .text-card h2 {
  font-weight: 600;
}
.contain-products .card-contain .card-product footer .price-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contain-products .card-contain .card-product footer .price-add h3 {
  color: #FF7E20;
  cursor: pointer;
}
.contain-products .card-contain .card-product footer .price-add h3:hover {
  text-decoration: underline;
}
.contain-products .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contain-products .button button {
  cursor: pointer;
  border: none;
  background-color: #FF7E20;
  width: 180px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px 7px 9px rgba(255, 126, 32, 0.3411764706);
}

* {
  font-family: "Oswald", sans-serif;
  margin: 0;
}/*# sourceMappingURL=style.css.map */