<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/css/nataly.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <title>Shop</title>
</head>

<body id="home">

<div class="cont-nms">
    
    <div class="logo">
        <img class="logo" src="/assets/Logo.png" alt="logo">
    </div>

    <div class="menu">
        <ul class="menu-lista">        
            <li><a class="item-menu" href="default.asp">Home</a></li>
            <li><a class="item-menu" href="news.asp">News</a></li>
            <li><a class="item-menu" href="contact.asp">Contact</a></li>
            <li><a class="item-menu" href="about.asp">About</a></li>
          </ul>
    </div>

<div class="container-all">

    
<div class="container-texto">
    <div class="texto">
        <h1 class="titulo">TASTE GOOD, LIKE 
            PLANT, SHAKE SHOULD</h1>
            <p class="parrafo" >I love juice bar is on a mission to create great tasting and nutritious juices, smoothies, bowls and bites. our menu is full of fresh offerings that are equally .</p>
    </div>

    <button class="btn-buy">
         BUY NOW
    </button>
</div>
    
<div class="contenedor-img">
    <img src="/assets/1.png" alt="" class="img-1">
    <img src="/assets/2.png" alt="" class="img-2">
    <img src="/assets/3.png" alt="" class="img-3">
</div>
</div>
  
</div>
       
       
    </body>
</html>